// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~admin-lte/dist/css/adminlte.min.css";

// using FontAwesome 5
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
